
body {
    background-color: lightgrey;
    height: 100vh;
    overflow: hidden;
}

#field {

    border: 2px solid grey;
    margin: auto;
    /* background-color: rgb(243, 115, 115); */
}

#myCanvas {
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    position: relative;
}

#shoot, #fwd, #right, #left {
    position: absolute;
    z-index: 100;
    color: rgb(64, 26, 48);
}

#shoot {
    left: 8%;
    bottom: 5%;
    border: 3px solid grey;
    border-radius: 40%;
    padding: 20px;
    margin: 20px 40px;
    font-family: sans-serif;
}

#left {
    right: 13%;
    bottom: 5%;
    border: 3px solid grey;
    border-radius: 40%;
    padding: 20px 40px;
    margin: 20px 40px;

}

#fwd {
    right: 7%;
    bottom: 17%;
    border: 3px solid grey;
    border-radius: 40%;
    padding: 20px 40px;
    margin: 20px 40px;
}

#right {
    right: 1%;
    bottom: 5%;
    border: 3px solid grey;
    border-radius: 40%;
    padding: 20px 40px;
    margin: 20px 40px;
}

