
body {
    background-color: lightgrey;
    height: 100vh;
    overflow: hidden;
}

#field {

    border: 2px solid grey;
    margin: auto;
    /* background-color: rgb(243, 115, 115); */
}

#myCanvas {
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    position: relative;
}

#shoot, #fwd, #right, #left {
    position: absolute;
    z-index: 100;
}

#shoot {
    left: 8%;
    bottom: 9%;
    border: 3px solid grey;
    border-radius: 5%;
    padding: 20px;
}

#left {
    right: 15%;
    bottom: 9%;
    border: 3px solid grey;
    border-radius: 5%;
    padding: 20px 40px;
}

#fwd {
    right: 9%;
    bottom: 17%;
    border: 3px solid grey;
    border-radius: 5%;
    padding: 20px 40px;
}

#right {
    right: 5%;
    bottom: 9%;
    border: 3px solid grey;
    border-radius: 5%;
    padding: 20px 40px;
}

